@media (min-width: 576px){
    .jumbotron {
        padding: 1rem 0rem;
        background-color:  #008b8b;
        width: 90%;
        display: inline-block;
        color: white;
        font-weight: bold;
        font-family: Tahoma;
        
    }
      }
    .jumbotron{
        background: #008b8b;
        display: inline-block;
        color: white;
        font-weight: bold;
        border-radius: 25px;
        
    }
    body {
        color:black;
        height:100%;
        width: 100%;
        background-color: transparent; 
        text-align: center;
        
      }
   
      h5{
        border-radius: 5px;
        text-align: left;
        background:  #008b8b;
        color:white;
        padding-left: 1%;
        padding-bottom: 1%;
        padding-top: 1%;
        margin-bottom: 0;
      }
      table{
          text-align: left;
      }
      form{
          text-align: left;
          padding-top: 1%;
          padding-bottom: 1%;
      }

    
